@(tasks: List[Task], taskForm: Form[String])

@import helper._

@main("TODO list") {

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="page-header">
          <h1>all tasks</h1>
        </div>
        <ul class="list-group">
          @tasks.map { task =>
            <li class="list-group-item">
              @task.label
              <div class="pull-right">
                @form(routes.Application.deleteTask(task.id)) {
                  <button type="submit" class="close" aria-hidden="true">&times;</button>
                }
              </div>
            </li>
          }
        </ul>

        @form(routes.Application.newTask) {
          <div class="form-group">
            <input type="text" class="form-control" id="label" name="label" placeholder="Add new task">
            <!-- @inputText(taskForm("label"), 'class -> "form-control") -->
          </div>
          <button type="submit" class="btn btn-default btn-block">Create</button>
        }
      </div>
    </div>

}
